<nav class="navbar navbar-default">
  <p>
      <a>
          <img style="display: block; margin-left: auto; margin-right: auto; width:180px" alt="Universidad de Guanajuato" src="http://www.clker.com/cliparts/h/6/c/T/d/i/house-roof-hi.png">
      </a>
  </p>
  <div class="container-fluid">
    <div class="navbar-header">
      <a>
                  {{#link-to 'index'}} <img style="display: block; margin-left: auto; margin-right: auto; width:50px" alt="Universidad de Guanajuato" src="http://loanlynx.wpengine.netdna-cdn.com/wp-content/uploads/2014/10/LoanLynx_Shield.png">{{/link-to}}
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#"> {{#link-to 'universitySecurity'}} Seguridad de la Vivienda {{/link-to}}</a></li>
    </ul>
  </div>
</nav>

{{outlet}}
