<nav class="navbar navbar-default">
  <p>
      <a>
          <img style="display: block; margin-left: auto; margin-right: auto; width:250px" alt="Universidad de Guanajuato" src="https://intraug.ugto.mx/plantilla/Images/escudo-horizontal-png.png">
      </a>
  </p>
  <div class="container-fluid">
    <div class="navbar-header">
      <a>
                  {{#link-to 'index'}} <img style="display: block; margin-left: auto; margin-right: auto; width:250px" alt="Universidad de Guanajuato" src="https://intraug.ugto.mx/plantilla/Images/logo%20UG_IntraUG.png">{{/link-to}}
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#"> {{#link-to 'universitySecurity'}} Seguridad Estudiantil {{/link-to}}</a></li>
    </ul>
  </div>
</nav>

{{outlet}}
