<div class="container">	 

	  <div class="form-group">
	    <label for="exampleFormControlSelect1">1. Tipo de reporte</label>
	    <select class="form-control" id="exampleFormControlSelect1">
	      <option>Elige una opcion...</option>
	      <option>Agrietamiento, fisura de paredes</option>
	      <option>Plagas: chinches, alacranes, dengue, hongos, etc)</option>
	      <option>Humedad, filtración de agua</option>
	      <option>Fuga de gas y/o agua</option>
	      <option>Deficiencia en cableado eléctrico</option>
	      <option>Falta de mantenimiento </option>
	    </select>
	  </div>
	  <div class="form-group">
	    <label for="email">2. Detalla tu reporte</label>
		<div>
			<textarea rows="4" cols="50"></textarea>
		</div>
	  </div>
	  <div class="checkbox">
	    <label><input type="checkbox"> Remember me</label>
	  </div>
	  <button type="submit" class="btn btn-primary">Enviar</button>

</div>