<div class="container">	 
	  <div class="form-group text-center">
	  	<h3>Mapa de calor para la seguridad del entorno</h3>
	  	<img src="https://i2.wp.com/alpoma.net/carto/wp-content/uploads/2010/08/ejemplo1.jpg?fit=620%2C450&ssl=1">
	  </div>
</div>