<div class="container"> 
	<div class="panel panel-default">
  		<div class="panel-heading">Seguridad de la vivienda </div>
  		<div class="panel-body">
  			<div class="row">
			  <div class="col-sm-4">
			    <div class="card">
			      <div class="card-body text-center">
					{{#bs-modal open=modal3  onHidden=(action (mut modal3) false) as |modal|}}
					  {{#modal.header}}
					    <h4 class="modal-title">
					      Encuesta vivienda segura
					    </h4>
					  {{/modal.header}}
					  {{#modal.body}}
					  <div class="form-group">
					    <label for="email">Dirección:</label>
    					<input type="text" class="form-control" id="direccion">
    				  </div>

  					  <div class="form-group">
					    <label for="email">Costo Mensual de la renta:</label>
    					<input type="number" class="form-control" id="costo">
    				  </div>
  					  <div class="form-group">
					    <label for="email">¿Cómo te sientes en el entorno inmediato a tu vivienda?</label>
							{{#bs-button-group
							  value=buttonGroupValue2
							  type="radio"
							  onChange=(action (mut buttonGroupValue2)) as |bg|}}
							  {{#bg.button value=1}}Nada Seguro{{/bg.button}}
							  {{#bg.button value=2}}Poco Seguro{{/bg.button}}
							  {{#bg.button value=3}}Seguro{{/bg.button}}
							  {{#bg.button value=4}}Muy seguro{{/bg.button}}
							{{/bs-button-group}}
							<p>Seleccionaste: {{buttonGroupValue2}}</p>
    				  </div>
  					  <div class="form-group">
					    <label for="email">¿Has sufrido, presenciado o escuchado algún hecho delictivo de robo a mano armada o casa/habitación?</label>
						{{#bs-button-group
						  value=buttonGroupValue3
						  type="radio"
						  onChange=(action (mut buttonGroupValue3)) as |bg|}}
						  {{#bg.button value=1}}Si{{/bg.button}}
						  {{#bg.button value=2}}No{{/bg.button}}
						{{/bs-button-group}}
						<p>Seleccionaste: {{buttonGroupValue3}}</p>
    				  </div>
  					  <div class="form-group">
					    <label for="email">Detalla el entorno (presencia o no de personas sospechosas, grafitis, falta de iluminación pública, existencia de cámaras de seguridad, etc)</label>
    					<textarea rows="4" cols="50"></textarea>
    				  </div>

					  {{/modal.body}}
					  {{#modal.footer}}
					    {{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}
					    {{#bs-button type="success" onClick=(action modal.submit)}}Save{{/bs-button}}
					  {{/modal.footer}}
					{{/bs-modal}}
					{{#bs-button  type="success" onClick=(action (mut modal3) true)}}{{fa-icon "home" size="5"}}<p>Vivienda segura</p>{{/bs-button}}
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-4">
			    <div class="card">
			      <div class="card-body text-center">
			       {{#link-to 'map' class="btn btn-primary"}}{{fa-icon "map-marker" size="5"}}<p>Seguridad del Entorno</p>{{/link-to}}
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-4">
			    <div class="card">
			      <div class="card-body text-center">
			        <button  type="button" class="btn btn-warning" {{action 'clickMeToComplain'}}> {{fa-icon "exclamation" size="5"}}<p>Quejas</p> </button>
			      </div>
			    </div>
			  </div>	
			</div>
  		</div>
	</div>
</div>
